* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 40px;
}
/* Header and headings */
header {
  background-image: url(resources/banner.jpeg);
  padding: 50px;
  color: white;
  font-size: 50px;
}
h1 {
  text-align: start;
  margin-left: 60px;
}

/* shopping cart icon */
i.cart-icon {
  font-size: 30px;
  position: fixed;
  top: 135px;
  right: 10%;
}

/* shopping cart pop up list */
#shopping-cart-div {
  padding: 10px;
  border: #bfbdbd solid 1px;
  background-color: #eeeeee;
  position: fixed;
  top: 135px;
  right: 15%;
}
#shopping-cart-div img {
  max-width: 40px;
}
#shopping-cart-div table {
  background-color: white;
}
#shopping-cart-div td,
th {
  padding: 5px 15px;
  text-align: start;
  border-bottom: 1px solid #eeeeee;
}

.invisible {
  display: none;
}
.appear {
  display: block;
}

/* Print all items first page */
#print-items-page {
  display: grid;
  margin: 40px;
  grid-template-columns: repeat(2, 1fr);
}
article {
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.75);
  margin: 20px;
  transition: ease-in-out, 0.2s;
}
article:hover {
  transform: translate(1%);
}

article img {
  max-width: 100%;
  max-height: 170px;
  margin-top: 10px;
}
h4 {
  font-size: 20px;
  margin: 10px;
  font-weight: normal;
}
p {
  font-size: 20px;
  font-weight: bold;
}

/*stars */
.star-div {
  margin: 10px;
}

.star-div img {
  width: 20px;
}
/* button */
.add-item-button {
  margin: 20px;
  color: white;
  background-color: #006637;
  border: none;
  padding: 5px 10px;
}
.add-item-button:hover {
  background-color: #00321b;
  cursor: pointer;
}

/* page number/page change buttons  */
#page-number-div button {
  margin: 3px;
  padding: 3px;
  color: white;
  background-color: grey;
  border: none;
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
}
#page-number-div button:hover {
  background-color: rgb(58, 57, 57);
}
#page-number-div .active {
  background-color: rgb(58, 57, 57);
  padding: 3px 6px;
}
#page-number-div button.disactivated {
  color: rgb(208, 205, 205);
  background-color: rgb(239, 238, 238);
}

/*==============
768 media query
===============*/

@media screen and (min-width: 768px) {
  #print-items-page {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*==============
992 media query
===============*/
@media screen and (min-width: 992px) {
  #print-items-page {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*==============
1200 media query
===============*/
@media screen and (min-width: 1200px) {
  #print-items-page {
    grid-template-columns: repeat(5, 1fr);
  }
}
